img
    cursor pointer !important

.margin-left-76px
    margin-left 76px

.common_button_or_link_hover_style
    cursor pointer
    transition-timing-function ease
    transition-duration 0.2s
    transition-property all
    &:hover
        -webkit-box-shadow 0 0 30px rgba(0, 0, 0, 0.1)
        box-shadow 0 0 30px rgba(0, 0, 0, 0.15)
        -webkit-transform translate3d(0, 0px, -2px)
        transform translate3d(0, 1px, -2px)

.common_tpl_content_sub_paragraph_style
    .tpl-content-sub-paragraph-normal
        padding 2px
        font-weight normal
    .tpl-content-sub-paragraph-fyi
        background #ebebeb
        border 1px dashed #cbcbcb
        color #000000
        border-radius 5px
        padding 8px
        margin 2px 0px
        font-size 80%
    .tpl-content-sub-paragraph-question
        background #CCCCFF
        border 0
        color #000000
        border-radius 5px
        display inline-block
        cursor pointer
        padding 8px
        margin 2px 0px
    .tpl-content-sub-paragraph-title
        background #CCCCFF
        border 0
        color #000000
        border-radius 5px
        display inline-block
        cursor pointer
        padding 8px
        font-size 120%
        margin 2px 0px
    .tpl-content-sub-paragraph-content
        padding 2px
        font-weight normal
        margin 2px 0px
    .tpl-content-sub-paragraph-ul-style
        font-weight normal

.common_page_style
    a
        color #4993f5
        text-decoration none
        box-shadow unset
        cursor pointer
        &:hover
            box-shadow unset
    .downloadButton
        border-radius 5px
        cursor pointer
        transition-timing-function ease
        transition-duration 0.2s
        transition-property all
        &:hover
            -webkit-box-shadow 0 0 30px rgba(0, 0, 0, 0.1)
            box-shadow 0 0 30px rgba(0, 0, 0, 0.15)
            -webkit-transform translate3d(0, 0px, -2px)
            transform translate3d(0, 1px, -2px)
    .flexButton
        border-bottom 7px solid #efefef
        border-radius 5px
        display inline-block
        cursor pointer
        transition-timing-function ease
        transition-duration 0.2s
        transition-property all
        margin-top 5px
        margin-bottom 5px
        border-radius 7px
        padding 0 10px
        font-size 12px
        line-height 24px
        margin-left 10px
        font-weight normal
        box-shadow inset 0 0px 0 0 #0070c9, inset 0 -3px 0 0 #0070c9
        -webkit-box-shadow inset 0 0px 0 0 #0070c9, inset 0 -3px 0 0 #0070c9
        outline thin dotted
        &.mac
            background #211f1f
        &.win
            background #0070c9
        &:focus
            box-shadow inset 0 0px 0 0 #9da0a3, inset 0 -3px 0 0 #9da0a3
            -webkit-box-shadow inset 0 0px 0 0 #9da0a3, inset 0 -3px 0 0 #9da0a3
        .flexButton-title
            font-size 18px

.common_page_style .flexButtonactive,
.common_page_style .flexButton:hover
    box-shadow inset 0 0px 0 0 #9da0a3, inset 0 -3px 0 0 #9da0a3
    -webkit-box-shadow inset 0 0px 0 0 #9da0a3, inset 0 -3px 0 0 #9da0a3

.common_page_style .flexButton .flexButton-downloads,
.common_page_style .flexButton .flexButton-last-week
    text-align right
    color #eaeaea

.common_page_style .flexButton .flexButton-downloads .downloads-count,
.common_page_style .flexButton .flexButton-last-week .downloads-count
    font-weight bold

.common_app_description_download_buy_infos
    .atpl-post-description-part-1
        margin-top 10px
    .atpl-post-description-part-2
        font-style normal
        font-weight bold
    .atpl-post-description-part-3
        font-style normal
    .atpl-step-content-a-style
        font-weight bold
    .atpl-app-description-download-buy-infos
        p
            margin 8px 0px 0px
            padding 0
        .pt-cv-ifield
            padding 0
            border unset !important
            border-radius 0
            &:hover
                transform none
                -webkit-transform none
                -webkit-box-shadow 0 0 0px rgba(0, 0, 0, 0.1)
                box-shadow 0 0 0px rgba(0, 0, 0, 0.1)
            .saboxplugin-wrap
                display none
        .offer-item-content
            display -webkit-box
            display -webkit-flex
            display -ms-flexbox
            display flex
            -webkit-box-shadow 0 0 1px rgba(0, 0, 0, 0.1)
            box-shadow 0 0 1px rgba(0, 0, 0, 0.15)
            border 1px dashed rgba(0, 0, 0, 0.2)
            border-radius 5px
            margin 4px 0px
            padding 2px
        .offer-anchor
            margin 16px 20px 0 0
            -webkit-box-flex 0
            -webkit-flex 0 0 53px
            -ms-flex 0 0 53px
            flex 0 0 53px
            overflow hidden
            text-align center
        .offer-type-sale
            color rgba(40, 40, 40, 0.16)
        .offer-anchor-percent-off
            .offer-anchor-text-line0
                font-size 24px
            .offer-anchor-text-line1
                font-size 32px
        .offer-anchor-text
            display block
            margin 0 auto
            font-weight 700
        .offer-item-main
            -webkit-box-flex 0
            -webkit-flex 0 1 100%
            -ms-flex 0 1 100%
            flex 0 1 100%
        .offer-item-head
            margin-bottom 5px
            -webkit-box-align start
            -webkit-align-items flex-start
            -ms-flex-align start
            align-items flex-start
            .offer-item-label
                font-size 12px
                font-weight 600
                -webkit-box-flex 0
                -webkit-flex 0 0 auto
                -ms-flex 0 0 auto
                flex 0 0 auto
        .offer-item-body
            -webkit-box-pack justify
            -webkit-justify-content space-between
            -ms-flex-pack justify
            justify-content space-between
        .offer-item-body-content
            -webkit-box-flex 1
            -webkit-flex 1 1 auto
            -ms-flex 1 1 auto
            flex 1 1 auto
        .offer-item-actions
            display none
            margin-left 15px
            margin-right 16px
        .offer-item-title
            margin-bottom 5px
            font-weight 500
            line-height 1.2
            word-wrap break-word
            .offer-item-title-link
                display block
                color #555
                text-decoration none
        .offer-item-info
            display -webkit-box
            display -webkit-flex
            display -ms-flexbox
            display flex
            -webkit-flex-wrap wrap
            -ms-flex-wrap wrap
            flex-wrap wrap
            .offer-item-coupon-code
                background-color #a0a0a0
                background-image -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent))
                background-image -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent)
                background-image -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent)
                background-image linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent)
                padding 2px
        a
            color #4993f5
            text-decoration none
            box-shadow unset
            cursor pointer
            &:hover
                box-shadow unset
        .downloadButton
            border-radius 5px
            cursor pointer
            transition-timing-function ease
            transition-duration 0.2s
            transition-property all
            &:hover
                -webkit-box-shadow 0 0 30px rgba(0, 0, 0, 0.1)
                box-shadow 0 0 30px rgba(0, 0, 0, 0.15)
                -webkit-transform translate3d(0, 0px, -2px)
                transform translate3d(0, 1px, -2px)
        .flexButton
            border-bottom 7px solid #efefef
            border-radius 5px
            display inline-block
            cursor pointer
            transition-timing-function ease
            transition-duration 0.2s
            transition-property all
            margin-top 5px
            margin-bottom 5px
            border-radius 7px
            padding 0 10px
            font-size 12px
            line-height 24px
            margin-left 10px
            font-weight normal
            box-shadow inset 0 0px 0 0 #0070c9, inset 0 -3px 0 0 #0070c9
            -webkit-box-shadow inset 0 0px 0 0 #0070c9, inset 0 -3px 0 0 #0070c9
            outline thin dotted
            &.mac
                background #211f1f
            &.win
                background #0070c9
            &:focus
                box-shadow inset 0 0px 0 0 #9da0a3, inset 0 -3px 0 0 #9da0a3
                -webkit-box-shadow inset 0 0px 0 0 #9da0a3, inset 0 -3px 0 0 #9da0a3
            .flexButton-title
                font-size 18px
        .button-primary
            display inline-block
            width 100%
            min-width 2em
            padding 1em .75em
            -webkit-transition background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease, fill 0.5s ease
            transition background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease, fill 0.5s ease
            background #4993f5
            color #fff
            font-size 15px
            font-weight 600
            line-height 1
            text-align center
            text-decoration none
            cursor pointer
            -webkit-appearance none
            -moz-appearance none
            -webkit-font-smoothing antialiased
            -moz-osx-font-smoothing grayscale
            border 1px solid #6e2090
            border-radius 3px
        .offer-button
            min-width 13em
            display block
            margin-bottom 6px

.common_app_description_download_buy_infos .atpl-app-description-download-buy-infos .offer-item-body-content,
.common_app_description_download_buy_infos .atpl-app-description-download-buy-infos .offer-item-main
    overflow-x hidden

.common_app_description_download_buy_infos .atpl-app-description-download-buy-infos .offer-item-body,
.common_app_description_download_buy_infos .atpl-app-description-download-buy-infos .offer-item-head
    display -webkit-box
    display -webkit-flex
    display -ms-flexbox
    display flex

.common_app_description_download_buy_infos .atpl-app-description-download-buy-infos .flexButtonactive,
.common_app_description_download_buy_infos .atpl-app-description-download-buy-infos .flexButton:hover
    box-shadow inset 0 0px 0 0 #9da0a3, inset 0 -3px 0 0 #9da0a3
    -webkit-box-shadow inset 0 0px 0 0 #9da0a3, inset 0 -3px 0 0 #9da0a3

.common_app_description_download_buy_infos .atpl-app-description-download-buy-infos .flexButton .flexButton-downloads,
.common_app_description_download_buy_infos .atpl-app-description-download-buy-infos .flexButton .flexButton-last-week
    text-align right
    color #eaeaea

.common_app_description_download_buy_infos .atpl-app-description-download-buy-infos .flexButton .flexButton-downloads .downloads-count,
.common_app_description_download_buy_infos .atpl-app-description-download-buy-infos .flexButton .flexButton-last-week .downloads-count
    font-weight bold

@media (min-width: 500px)
    .common_app_description_download_buy_infos
        .atpl-app-description-download-buy-infos
            .offer-anchor
                margin 10px 36px 0 0
                -webkit-box-flex 0
                -webkit-flex 0 0 80px
                -ms-flex 0 0 80px
                flex 0 0 80px
            .offer-anchor-percent-off
                .offer-anchor-text-line0
                    font-size 36px
                .offer-anchor-text-line1
                    font-size 24px
            .button-primary
                width auto

@media (min-width: 740px)
    .common_app_description_download_buy_infos
        .atpl-app-description-download-buy-infos
            .offer-item-actions
                display block

a
    color #4993f5
    text-decoration none
    box-shadow unset
    cursor pointer
    &:hover
        box-shadow unset

.downloadButton
    border-radius 5px
    cursor pointer
    transition-timing-function ease
    transition-duration 0.2s
    transition-property all
    &:hover
        -webkit-box-shadow 0 0 30px rgba(0, 0, 0, 0.1)
        box-shadow 0 0 30px rgba(0, 0, 0, 0.15)
        -webkit-transform translate3d(0, 0px, -2px)
        transform translate3d(0, 1px, -2px)

.flexButton
    border-bottom 7px solid #efefef
    border-radius 5px
    display inline-block
    cursor pointer
    transition-timing-function ease
    transition-duration 0.2s
    transition-property all
    margin-top 5px
    margin-bottom 5px
    border-radius 7px
    padding 0 10px
    font-size 12px
    line-height 24px
    margin-left 10px
    font-weight normal
    box-shadow inset 0 0px 0 0 #0070c9, inset 0 -3px 0 0 #0070c9
    -webkit-box-shadow inset 0 0px 0 0 #0070c9, inset 0 -3px 0 0 #0070c9
    outline thin dotted
    &.mac
        background #211f1f
    &.win
        background #0070c9
    &:focus
        box-shadow inset 0 0px 0 0 #9da0a3, inset 0 -3px 0 0 #9da0a3
        -webkit-box-shadow inset 0 0px 0 0 #9da0a3, inset 0 -3px 0 0 #9da0a3
    .flexButton-title
        font-size 18px

.flexButtonactive,
.flexButton:hover
    box-shadow inset 0 0px 0 0 #9da0a3, inset 0 -3px 0 0 #9da0a3
    -webkit-box-shadow inset 0 0px 0 0 #9da0a3, inset 0 -3px 0 0 #9da0a3

.flexButton .flexButton-downloads,
.flexButton .flexButton-last-week
    text-align right
    color #eaeaea

.flexButton .flexButton-downloads .downloads-count,
.flexButton .flexButton-last-week .downloads-count
    font-weight bold

.atpl-content
    p
        padding 0
    .atpl-post-device-model-description
        padding 20px 0px
    .atpl-post-device-brand-description
        padding 20px 0px
    .atpl-post-description-style
        .atpl-start-part
            overflow hidden
            border 2px dashed #cacaca
            background url(/best-assets/site/style/images/article-icon.png) no-repeat 30px 30px
            margin 10px 0 15px 0
            .text
                margin-left 100px
                p
                    &.title
                        font-size 28px
                        color #434343
                        padding 5px 0 5px 0
    .atpl-imgstyle
        display inline-block
        max-width 60%
        max-height 960px
        margin 10px auto
        &:hover
            -webkit-box-shadow 0 0 30px rgba(0, 0, 0, 0.1)
            box-shadow 0 0 30px rgba(0, 0, 0, 0.15)
            -webkit-transform translate3d(0, 0px, -2px)
            transform translate3d(0, 1px, -2px)
    .atpl-stepstyle-a
        color #fff
        &:after
            display inline-block
            content "\25BA"
            color #2a2c2d
            font-size 20px
            margin-left -9px
        span
            background-color #2a2c2d
            border-radius 5px
            padding 2px 8px
    .atpl-step-part-style
        padding 20px 0px
        font-size 150%
        font-weight bold
        color darkcyan
    .atpl-ulstyl-a
        overflow hidden
        margin 5px 0
        margin 0
        padding 0
        list-style none
        display block
        li
            list-style upper-latin
            padding-left 10px
            display list-item
            text-align -webkit-match-parent
            &:before
                display inline-block
                content '\00BB'
                font-size 20px
                margin-right 5px
                color #1bb88e
    .atpl-alsoreadstyle
        background-color #9662c0
        border-radius 5px
        padding 2px 8px
        color white
    .atpl-pro-box-btn
        overflow hidden
        margin-top 20px
        margin-bottom 20px
        max-width 900px
        padding 20px
    a
        &.atpl-down-win-btn-a
            background url(/best-assets/site/style/images/btn-big.png) no-repeat
            width 280px
            height 93px
            display block
            float left
            text-decoration none
            color #09F
            box-shadow none !important
            &:hover
                -webkit-box-shadow 0 0 30px rgba(0, 0, 0, 0.1) !important
                box-shadow 0 0 30px rgba(0, 0, 0, 0.15) !important
                -webkit-transform translate3d(0, 0px, -2px) !important
                transform translate3d(0, 1px, -2px) !important
        &.atpl-down-mac-btn-a
            background url(/best-assets/site/style/images/btn-big.png) no-repeat 0 -186px
            width 280px
            height 93px
            display block
            float left
            margin-left 40px
            margin-top -24px
            text-decoration none
            color #09F
            box-shadow none !important
            &:hover
                -webkit-box-shadow 0 0 30px rgba(0, 0, 0, 0.1) !important
                box-shadow 0 0 30px rgba(0, 0, 0, 0.15) !important
                -webkit-transform translate3d(0, 0px, -2px) !important
                transform translate3d(0, 1px, -2px) !important
    .atpl-post-description-part-1
        margin-top 10px
    .atpl-post-description-part-2
        font-style normal
        font-weight bold
    .atpl-post-description-part-3
        font-style normal
    .atpl-step-content-a-style
        font-weight bold
    .atpl-app-description-download-buy-infos
        p
            margin 8px 0px 0px
            padding 0
        .pt-cv-ifield
            padding 0
            border unset !important
            border-radius 0
            &:hover
                transform none
                -webkit-transform none
                -webkit-box-shadow 0 0 0px rgba(0, 0, 0, 0.1)
                box-shadow 0 0 0px rgba(0, 0, 0, 0.1)
            .saboxplugin-wrap
                display none
        .offer-item-content
            display -webkit-box
            display -webkit-flex
            display -ms-flexbox
            display flex
            -webkit-box-shadow 0 0 1px rgba(0, 0, 0, 0.1)
            box-shadow 0 0 1px rgba(0, 0, 0, 0.15)
            border 1px dashed rgba(0, 0, 0, 0.2)
            border-radius 5px
            margin 4px 0px
            padding 2px
        .offer-anchor
            margin 16px 20px 0 0
            -webkit-box-flex 0
            -webkit-flex 0 0 53px
            -ms-flex 0 0 53px
            flex 0 0 53px
            overflow hidden
            text-align center
        .offer-type-sale
            color rgba(40, 40, 40, 0.16)
        .offer-anchor-percent-off
            .offer-anchor-text-line0
                font-size 24px
            .offer-anchor-text-line1
                font-size 32px
        .offer-anchor-text
            display block
            margin 0 auto
            font-weight 700
        .offer-item-main
            -webkit-box-flex 0
            -webkit-flex 0 1 100%
            -ms-flex 0 1 100%
            flex 0 1 100%
        .offer-item-head
            margin-bottom 5px
            -webkit-box-align start
            -webkit-align-items flex-start
            -ms-flex-align start
            align-items flex-start
            .offer-item-label
                font-size 12px
                font-weight 600
                -webkit-box-flex 0
                -webkit-flex 0 0 auto
                -ms-flex 0 0 auto
                flex 0 0 auto
        .offer-item-body
            -webkit-box-pack justify
            -webkit-justify-content space-between
            -ms-flex-pack justify
            justify-content space-between
        .offer-item-body-content
            -webkit-box-flex 1
            -webkit-flex 1 1 auto
            -ms-flex 1 1 auto
            flex 1 1 auto
        .offer-item-actions
            display none
            margin-left 15px
            margin-right 16px
        .offer-item-title
            margin-bottom 5px
            font-weight 500
            line-height 1.2
            word-wrap break-word
            .offer-item-title-link
                display block
                color #555
                text-decoration none
        .offer-item-info
            display -webkit-box
            display -webkit-flex
            display -ms-flexbox
            display flex
            -webkit-flex-wrap wrap
            -ms-flex-wrap wrap
            flex-wrap wrap
            .offer-item-coupon-code
                background-color #a0a0a0
                background-image -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent))
                background-image -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent)
                background-image -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent)
                background-image linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent)
                padding 2px
        a
            color #4993f5
            text-decoration none
            box-shadow unset
            cursor pointer
            &:hover
                box-shadow unset
        .downloadButton
            border-radius 5px
            cursor pointer
            transition-timing-function ease
            transition-duration 0.2s
            transition-property all
            &:hover
                -webkit-box-shadow 0 0 30px rgba(0, 0, 0, 0.1)
                box-shadow 0 0 30px rgba(0, 0, 0, 0.15)
                -webkit-transform translate3d(0, 0px, -2px)
                transform translate3d(0, 1px, -2px)
        .flexButton
            border-bottom 7px solid #efefef
            border-radius 5px
            display inline-block
            cursor pointer
            transition-timing-function ease
            transition-duration 0.2s
            transition-property all
            margin-top 5px
            margin-bottom 5px
            border-radius 7px
            padding 0 10px
            font-size 12px
            line-height 24px
            margin-left 10px
            font-weight normal
            box-shadow inset 0 0px 0 0 #0070c9, inset 0 -3px 0 0 #0070c9
            -webkit-box-shadow inset 0 0px 0 0 #0070c9, inset 0 -3px 0 0 #0070c9
            outline thin dotted
            &.mac
                background #211f1f
            &.win
                background #0070c9
            &:focus
                box-shadow inset 0 0px 0 0 #9da0a3, inset 0 -3px 0 0 #9da0a3
                -webkit-box-shadow inset 0 0px 0 0 #9da0a3, inset 0 -3px 0 0 #9da0a3
            .flexButton-title
                font-size 18px
        .button-primary
            display inline-block
            width 100%
            min-width 2em
            padding 1em .75em
            -webkit-transition background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease, fill 0.5s ease
            transition background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease, fill 0.5s ease
            background #4993f5
            color #fff
            font-size 15px
            font-weight 600
            line-height 1
            text-align center
            text-decoration none
            cursor pointer
            -webkit-appearance none
            -moz-appearance none
            -webkit-font-smoothing antialiased
            -moz-osx-font-smoothing grayscale
            border 1px solid #6e2090
            border-radius 3px
        .offer-button
            min-width 13em
            display block
            margin-bottom 6px
    .tpl-content-sub-paragraph-normal
        padding 2px
        font-weight normal
    .tpl-content-sub-paragraph-fyi
        background #ebebeb
        border 1px dashed #cbcbcb
        color #000000
        border-radius 5px
        padding 8px
        margin 2px 0px
        font-size 80%
    .tpl-content-sub-paragraph-question
        background #CCCCFF
        border 0
        color #000000
        border-radius 5px
        display inline-block
        cursor pointer
        padding 8px
        margin 2px 0px
    .tpl-content-sub-paragraph-title
        background #CCCCFF
        border 0
        color #000000
        border-radius 5px
        display inline-block
        cursor pointer
        padding 8px
        font-size 120%
        margin 2px 0px
    .tpl-content-sub-paragraph-content
        padding 2px
        font-weight normal
        margin 2px 0px
    .tpl-content-sub-paragraph-ul-style
        font-weight normal

.atpl-content .atpl-app-description-download-buy-infos .offer-item-body-content,
.atpl-content .atpl-app-description-download-buy-infos .offer-item-main
    overflow-x hidden

.atpl-content .atpl-app-description-download-buy-infos .offer-item-body,
.atpl-content .atpl-app-description-download-buy-infos .offer-item-head
    display -webkit-box
    display -webkit-flex
    display -ms-flexbox
    display flex

.atpl-content .atpl-app-description-download-buy-infos .flexButtonactive,
.atpl-content .atpl-app-description-download-buy-infos .flexButton:hover
    box-shadow inset 0 0px 0 0 #9da0a3, inset 0 -3px 0 0 #9da0a3
    -webkit-box-shadow inset 0 0px 0 0 #9da0a3, inset 0 -3px 0 0 #9da0a3

.atpl-content .atpl-app-description-download-buy-infos .flexButton .flexButton-downloads,
.atpl-content .atpl-app-description-download-buy-infos .flexButton .flexButton-last-week
    text-align right
    color #eaeaea

.atpl-content .atpl-app-description-download-buy-infos .flexButton .flexButton-downloads .downloads-count,
.atpl-content .atpl-app-description-download-buy-infos .flexButton .flexButton-last-week .downloads-count
    font-weight bold

@media (min-width: 500px)
    .atpl-content
        .atpl-app-description-download-buy-infos
            .offer-anchor
                margin 10px 36px 0 0
                -webkit-box-flex 0
                -webkit-flex 0 0 80px
                -ms-flex 0 0 80px
                flex 0 0 80px
            .offer-anchor-percent-off
                .offer-anchor-text-line0
                    font-size 36px
                .offer-anchor-text-line1
                    font-size 24px
            .button-primary
                width auto

@media (min-width: 740px)
    .atpl-content
        .atpl-app-description-download-buy-infos
            .offer-item-actions
                display block